.sobre-mi{
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(121, 127, 133, 0.40);
}

@media screen and (min-width: 780px) {
    .sobre-mi{
        flex-direction: row;
    }
}